.places{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    max-width: 984px;
    padding-top: 92px;
    margin: 0 auto;
}
@media screen and (max-width:1279px) {
    .places{
        width: calc(100% - 2 * 48px);
    }
}
@media screen and (max-width:1023px) {
    .places{

        width: calc(100% - 2 * 24px);
    }
}
@media screen and (max-width:767px) {
    .places{
        min-width: 320px;
        width: calc(100% - 2 * 16px);
    }
}