.place__image{
    max-width: 460px;
    width: 100%;
    padding-top: 48px;
}
@media screen and (max-width:1023px) {
    .place__image{
        max-width: 340px;
    }
}
@media screen and (max-width:767px) {
    .place__image{
        min-width: 320px;
        padding-top: 32px;
    }
}