.cover__subtitle{
    margin: 29px auto 0;
    max-width: 360px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    z-index: 1;
}
@media screen and (max-width:767px) {
    .cover__subtitle{
        max-width: 288px;
        margin: 0px auto;
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 33px;
    }
}