.footer__links{
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 18px;
}
@media screen and (max-width:767px) {
    .footer__links{
        max-width: 186px;
        flex-direction: column;
        padding-bottom: 48px;
        gap: 32px;
    }
}
