.cover__overlay{
    padding: 248px 0;
   max-width: 1184px;
    background-image: url(../../../images/railwaystation.png);
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    text-decoration: none;
    object-fit: cover;
    color: #fff;
}
.cover__overlay:hover{
    opacity: 0.6;
}
.cover__overlay::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(42, 44, 47, 0.3);
}
@media screen and (max-width:1279px) {
    .cover__overlay{
        padding: 195px 0px;
        max-width: 1024px;

    }
}
@media screen and (max-width:1023px) {
    .cover__overlay{
        padding: 115px 0px;
        max-width: 100%;

    }
}
@media screen and (max-width:767px) {
    .cover__overlay{
        padding: 33px 0px;
        max-width: 100%;

    }
}
