.cover__overlay {
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../images/railwaystation.png);
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: #fff;
  }
  
  .cover__overlay.cover__overlay::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(42, 44, 47, 0.3);
  }
  
  .cover__overlay:hover:after {
    background-color: rgba(42, 44, 47, 0.8);
  }
@media screen and (max-width:1279px) {
    .cover__overlay{
        max-width: 100%;
        min-height: 640px;
    }
}
@media screen and (max-width:1023px) {
    .cover__overlay{
        max-width: 100%;
        min-height: 480px;
    }
}
@media screen and (max-width:767px) {
    .cover__overlay{
        min-height: 200px;
    }
}
